*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: dodgerblue;

}
textarea{
 
  width: 90%;
  height: 70vh;
    text-align: center;
    vertical-align: middle;
    
    padding: 5% ;
    padding-top:45%;
    margin-top: 10%;
    border-radius: 5%;
    box-shadow: 5px 3px 33px rgb(96, 57, 212);
    color: #e3e0eb;
    position:relative;
    left:5vw;
    font-weight: 900;
    background-color:rgb(0, 0, 0)
}

button{
    margin-top: 5vh;
    margin-left: 40vw;
    padding: 8px 12px;
    border-radius: 15%;
    color: red;
    font-weight: 700;
}

textarea:hover, button:hover{
    scale: 110%
}

h2{
    color: white;
    text-shadow: 3px 3px  green;
    text-align: center;
}